body {
  height: 100vh;
  margin: 0;
  /*color: #666434;*/
  color: honeydew;
  background-color: #232027;
  font-family: 'Times New Roman', 'Noto Serif TC', serif;
}


a {
  text-decoration: none;
  /*color: #393541;*/
  color: honeydew;
  text-decoration: underline dotted honeydew;
}
a:hover {
  color: #232027;
  font-style: italic;
  background-color: honeydew;
}

nav {
  /*width: 20%;*/
  position: fixed;
  height: 100%;
  padding-right: 2.5rem;
  background-color: #232027;
  opacity: 80%;
}

nav ul {
  list-style-type: none;  

}

nav li {
  display: flex;

}

nav a {
  display: block;
  
}

path{
  fill:honeydew;
}

.cv{
  list-style-type: none; 
  padding-left: 0rem;
  padding-bottom: 0.25rem;
}


.cv-list{
  display: flex;
}


.year{
  display: inline-block;
  width: 60px;
  min-width: 60px;
}

.content li{
  list-style-type: none; 
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;

}

.lli {
  /*font-weight: bold;*/
  /*color:#393541;*/
  padding-top: 0.3rem;

}

.lli a{
  text-decoration: none;
}

.sli{
  padding-left:1.3rem;
  padding-top: 0.3rem;
}

.sli a{
  text-decoration: none;
}

.nav-logo a{
  background-color: transparent;
}

.logo {
    width: 70px;
    height: auto; 
    transform: rotate(180deg);
    filter: invert(70%) ; 
    padding: 2rem;
}

.cv-text{
  
}

span{
  padding-bottom: 0.5rem;
}

.content li{
  padding-bottom: 0.5rem;
}


main {
  overflow-y: auto;
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

main section {
  margin-top: 50px;
}

main li{
  padding-bottom: 0.25rem;
}

main article {
  margin-top: 50px;
}


main img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1{
  font-weight: normal;
}

h2{
  font-weight: normal;
  font-style: italic;
}

h3 {
  margin-top: 2rem;
  font-weight: normal;
  /*font-style: italic;*/

}


footer {
  padding: 1rem 0rem;
  text-align: center;
}


.video-container {
  position: relative;
  width: 100%;
  max-width: var(--content-max-width);
  aspect-ratio: 16 / 9;
  margin: 1rem 0;
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.gallery {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /*margin-left:20%;*/
  z-index: -1;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  overflow-clip-box: content-box;
}

.flyer{
  width: 400px;
  margin-bottom: 2rem;

}

@media (max-width: 1000px) {

  nav{
    background-color: transparent;
  }

  .sidebar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232027;
    opacity: 100%;
    padding: 6rem 1rem;
    margin-top: 0;
  }

  .sidebar.active {
    display: block;
  }



  .menu-toggle {
    display: block; 
  }

  .logo{
    width:50px;
    height:auto;
    padding:1rem;
    position:absolute;
    z-index: 3000;
  }

  main{
    padding: 3rem 1rem;
    /*margin-left: 0;*/
  }

  .gallery {

    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-left: 0;
    z-index: -1; 
  }

.gallery img {
  /*width:auto;*/
  height:100%;
  object-fit: cover;
}

  .video-container {
    z-index: -1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}