body {
  height: 100vh;
  margin: 0;
  color: #666434;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: #393541;
}
a:hover {
  color: #666434;
}

nav {
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  
}

nav a {
  display: block;
  padding: 0.2rem 0;
}

main {
  margin-left: 20%;
  /*width: calc(100% - 130px);*/
  overflow-y: auto;
  padding: 2rem;
  max-width: 800px;
}

main section {
  margin-top: 50px;
}

main img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

h3 {
margin: 0.2rem 0;

}



/* Responsive layout */
@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  nav ul {
    display: block;
    justify-content: space-around;
  }

  main {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}




#footer footer {
  border-top: 1px solid #393541;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  color: #504C5C;
}


#footer p {
  margin: 0;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: var(--content-max-width);
  aspect-ratio: 16 / 9;
  margin: 1rem 0;
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.gallery {
  position: absolute;
  height: 100%;
  width: 80%;
  object-fit: cover;
  margin-left:20%;

  /*display: flex;*/
  /*justify-content: center;*/
  /*margin-top: 50px;*/
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  /*margin: 1rem 0;*/
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  overflow-clip-box: content-box;
  /*overflow: clip;*/
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
    width: 90px;
    height: auto; /* Maintains aspect ratio */
    transform: rotate(180deg);
    filter: invert(10%) ; 
    margin-bottom: 10px;

